<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link  rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="wrapper" style="margin: 115px auto;">
        <h1>Login</h1>
        <form id="loginForm">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button>Login</button>
        </form>
        <!-- <button class="btn1" onclick="forgotPassword()">Forgot password?</button> -->
        <div class="member">
            Don't have an account? <a href="./signup.html">Sign Up</a>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
    <script src="../public/js/login.js"></script>
</body>

</html>