body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    color: black;
    text-align: center;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%; 
    padding-right: 20px; 
}

.chat-window {
    width: 1000px;
    max-width: calc(100% - 20px); /* Take up full width minus padding */
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
}

.chat-area {
    height: 400px;
    overflow-y: scroll;
    padding: 20px;
}

.chat-messages {
    display: flex;
    flex-direction: column;
}

.rightsidemessages {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.rightsidemessages p {
    width: fit-content;
    background: #e08ccb;
    color: rgb(0, 0, 0);
    padding:  15px;
    border-radius: 5px;
}
.leftsidemessages {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.leftsidemessages p {
    background: #9695ff;
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 5px;
    width: fit-content;
}

.user-input {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #af8ab8;
    border: 2px solid #fff;
}

#message-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

#send-button {
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #8d2084;
    border: 1px solid white;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

#send-button:hover {
    background-color: #a00264;
}
